process {
	executor='local'
	cpus=10
	time='72.h'
	maxRetries=5
	maxErrors=-1
	memory=16.GB
    clusterOptions=''

	withLabel: big_mem {
		cpus=22
		memory=90.GB
		queue='long'
		time='150.h'
	}

}

params {
  // Defaults only, expecting to be overwritten
  max_memory =90.GB
  max_cpus = 22
  max_time = 540.h
}

