process {
    
    singularity.enabled = true
    
    container='qiime2/core:2018.11'

    withName:runFastqc {
        container = 'quay.io/biocontainers/fastqc:0.11.8--1'
    }
    
    withName:runMultiqc {
        container = 'quay.io/biocontainers/multiqc:1.7--py_4'
    }
    
    withName:run_picrust2 {
        container = 'quay.io/biocontainers/picrust2:2.1.4_b--py_0'
    }

}
